<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>IFSC 1310 | William Millard</title>
        <meta name="description" content="William Millard is a Computer Science student at UALR, currently taking a Web Technologies class.  This is the page for his assignments." />
        <meta name="author" content="William Millard" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        
        
    </head>
    
    <body>


    </body>
</html>