/*---------------------------------Box Sizing---------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------Utility Classes-------------------------------*/

.container{
    width:70vw;
    margin:40px auto;
    
    
}




/*------------------------------Responsive Images-----------------------------*/

img{
    max-width:100%
    height:auto;
}




/*-------------------------------Global Styles--------------------------------*/

h1 {
    text-align: center;
    font-size: 48px;
}

h3, h4 {
    text-align:center;
}


/*----------------------------Attribute Selectors-----------------------------*/

#header{
    
    
    
}



#gordo-pic {
    margin-left:auto;
    margin-right:auto;
    display: block;
}





#dslayton {
    display:block;
}



/*--------------------------------Media Query---------------------------------*/

@media screen and (max-width:700px) {
    
    header.primary nav ul{
        flex-direction:column;
        max-width:70vw;
        margin:auto;
    }
    
    header.primary nav a{
        display:block;
    }
    
    header.primary nav li{
        margin-bottom:10px;
    }
}