/*--- Box Sizing---*/

html {
  box-sizing:border-box;
}

*,
*:before,
*:after{
	margin: 0px;
	padding: 0px;
}

/*---Utility Classes---*/



/*  Global Styles  */

body {
	background-color: #ECECEC;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-align: center;
	line-height: 24px;
}

h1 {
	color: #000;
	font-weight: normal;
	padding: 50px;
}


/*  Attribute Selectors */

#wrapper {
	background-color: #FFF;
	border: 1px solid;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;

	
}
#red {
	background-color: #900;
	float:left;
	width: 185px;
	height: 200px;
}
#green {
	background-color: #090;
	float:left;
	width: 185px;
	height: 200px;
	margin-left: 20px;
}
#blue {
	background-color: #00F;
	float:left;
	width: 185px;
	height: 200px;
	margin-left: 20px;
}
#purple {
	background-color: #63C;
	float:left;
	width: 185px;
	height: 200px;
	margin-left: 20px;
	margin-bottom: 20px;
}
#footer {
	background-color: #666;
	clear:both;
}



/*--------------------------------Media Query---------------------------------*/

@media screen and (max-width:700px) {

    header.primary nav ul{
        flex-direction:column;
        max-width:70vw;
        margin:auto;
    }

    header.primary nav a{
        display:block;
    }

    header.primary nav li{
        margin-bottom:10px;
    }
} 