/*--- Box Sizing---*/

html {
  box-sizing:border-box;
}

*,
*:before,
*:after{
	margin: 0px;
	padding: 0px;
}

/*---Utility Classes---*/



/*  Global Styles  */

body {
	background-color: #ECECEC;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-align: center;
	line-height: 24px;
}

h1 {
	color: #000;
	font-weight: normal;
	padding: 50px;
}


/*  Attribute Selectors */

#wrapper {
	background-color: #FFF;
	border: 1px solid;
	width: 800px;
	height: 800px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
#red {
	background-color: #900;
	width: 125px;
	height: 125px;
	position: absolute;
	top: 0;
	left: 0;
}
#green {
	background-color: #090;
	width: 125px;
	height: 125px;
	position: absolute;
	top: 0;
	right: 0;
}
#blue {
	background-color: #00F;
	width: 125px;
	height: 125px;
	position: absolute;
	bottom: 0;
	left: 0;
}
#purple {
	background-color: #63C;
	width: 125px;
	height: 125px;
	position: absolute;
	bottom: 0;
	right: 0;
}
#footer {
	background-color: #666;
	position:absolute;
	width: 125px;
	height: 125px;
	top: 50%;
	left: 50%;
	margin-top: -62.5px;
	margin-left: -62.5px;
}



/*--------------------------------Media Query---------------------------------*/

@media screen and (max-width:700px) {

    header.primary nav ul{
        flex-direction:column;
        max-width:70vw;
        margin:auto;
    }

    header.primary nav a{
        display:block;
    }

    header.primary nav li{
        margin-bottom:10px;
    }
} 